# Commments
Comments can be used to explain Pythone code.
Comments can be used to make the code more readable.
Comments arre ignored during execution.(not considered while executing the code)

### Creating a Comment
Comments starts with a #, and Pythone will ignore them:

In [1]:
#this is a comment

In [2]:
#this is a comment
print("Hello,world")

Hello,world

comments can be placed at the end of a line, and Pythone will ignore the rest of the line

In [3]:
print(" hello world!") #this is a comment

 hello world!

A comment does not have to be text explaine the code`, it can used to prevent Pythone from executing code:

In [4]:
#print("harikrushna")
print("tigerking")

tigerking

# multiline Comments
 Pythone does not really have a syntax for multi line comments
 To add a multiline comment you could insert a # for each line.

In [5]:
#1st Line
#2ND LINE
#3R LINe

- You can addd a multiline string (triple quotes) in our code. and place your comments inside it 
- (Since Python will ignore string literals that are not assigned to avarible)

In [6]:
"""1st line
2nd line
3rd line"""

'1st line\n2nd line\n3rd line'

In [7]:
"""
This is a comments
written in
 more than one line
 """
print("hello boss")

hello boss

# variables

- vaiable are containers for storing data values.
- variables is a location in memory used to store some data(value)
- in Python, variable are dynamic (we don't even have o declare the type of the variable).
## Rules in nameing a variable
- Rule 1: avaiable name must start with a letter or the underscore character
- Rule 2: a variable name cannot sart with a number
- Rule 3; a variable name only contain alpha-numerric character and undrscore(A-z, 0-9 and _
- Rule 4 ; A VARIABLR accepts only underscore"_"symbol only(No other symbol is accepted)
- Rule 5: variable names are case sensitive (age,Age nd AGE are three different variables)
- Rule 6: it can't accept reserve keywords
### list of reserve keywords : 
['False', 'None', 'True', 'and',' as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', while, with', 'yeild'] 
                        
                        
                   
# Variable assignment

In [8]:
#this is first variable assignment
a=5
print(a)

5

In [9]:
A=2.0
print(A)

2.0

In [10]:
z="tigerking"
print(z)

tigerking

In [11]:
a1=40
print(a)

5

In [12]:
a_1=60
print(a_1)

60

In [13]:
1a=50
prrint(1a)

SyntaxError: invalid syntax (Temp/ipykernel_2212/3421030629.py, line 1)

In [ ]:
if =5                 # keyword can not be used as variable names

# Many values tomultiple Variables

- Python allows you to assign values to multiple variable in one line

In [ ]:
a,b,c=4,5,6
print(a,b,c)

####  Note:  Make sure the Number of variable matches  the number of value, or else you will get an error.

# One value to multiple Variable

- and you can assign the same value to multiple variables in oneline

In [ ]:
a=b=c="Ai"
print(a)
print(b)
print(c)

# Storage Location

- In python, objects are created based on value
- id() --used to get addreess

In [ ]:
a=20
id(a)

In [ ]:
b=20
id(b)

#### InPython, the latest value will be stored in a variable]

In [ ]:
a='hari'
print(a)
id(a)

#  Delete variable
- to delete single variable

In [14]:
a=10
del a

In [15]:
print(a)

NameError: name 'a' is not defined

- to delete multiple variable at a time

In [ ]:
a=10
b=20
c=30

del a,b

# ---------------------------------------------

# Python Output

In [ ]:
# prinnt numeric
print(10)

In [ ]:
# print text
print("krishna")

In [ ]:
# print single variable
a=10
print(a)

In [ ]:
print(krishna)

In [ ]:
# print multiple variable
a=10
b=20
c=30
d=40
print(a,b,c,d)       # default separator is space between yhe values

In [ ]:
a="the value of a ;"
b=10
print(a,b)

In [ ]:
print('the value of a;',b)

In [ ]:
num= 12
name="rita"

In [ ]:
print(" My number is:",num,"and my name is:",name)

In [ ]:
print("my phone number is ;{} and my number is ; {}".format(num,name))

In [ ]:
print('Rama "sita"')

In [ ]:
print('ram's "sita"')

In [ ]:
print('ram\'s "sita"')

# ------------------4 Data type----------------------
### 1. Fundamental Data types
                   integer  float   complex  boolean   string
                    42       42.0    a+bj     True    "hello"
### 2.Advanced Data types or Data Structure or Containers
      list     Tuple   Set      Dictionary
      [1,2,3] (1,2,3)  {1,2,3}  {1:"audi",2:"Maruti"}
# Int - Numeric value with out any decimal

In [ ]:
a=10
print(a)

In [ ]:
type(a)    # To check data type : use type() funcion

# Float- Numeic value with decimal

In [ ]:
b=3.0
print(b)

In [ ]:
type(b)

In [ ]:
a=3
type(a)

# Type Casting: Convert from one data type to another data type

In [ ]:
b=5.8
b

In [ ]:
type(b)

In [ ]:
int(b)

In [ ]:
int(10.999)

In [ ]:
float(int(5.4))

# Booolean - True/False

In [ ]:
b1=True

In [ ]:
type(b1)

In [ ]:
type(False)

In [ ]:
int(True)

In [ ]:
int(False)

In [ ]:
bool(0)

# Complex
####  Complex literals can be created by using the notation x+yj where x is the real number and y is the imaginary component

In [ ]:
x=10+20.5j

In [ ]:
type(x)

In [ ]:
# To get real value
x.real

- it always returns float only

In [ ]:
int(x.real)

In [ ]:
# To gt imaginary value
x.imag

In [ ]:
int(10+5j)

In [ ]:
complex(10.4)

# Stings

- A string in Python consists of a series or  sequences of characters- letters, numbers, and special characters.
- We can use single quotes or double quotes to represent strings.

In [ ]:
a="siva"
print(a)

In [ ]:
type(a)

In [ ]:
myString1='hello'
print(myString1)
id (myString1)

myString2="hello"
print(myString2)
id (myString2)

myString3='''hello'''
print(myString3)
id (myString3)

In [ ]:
name='''data
science'''

In [ ]:
name

In [ ]:
len(name)

In [ ]:
var1=123456789
type(var1)

In [ ]:
var='123456789'
type(var)

In [ ]:
float(var)

a='h@rikrushna123'

In [ ]:
int(a)

## length of string

myString="hello"
len(myString)

## indexing (accssing characters in a string)
- String can be indexed - often synonymosly called subscripted as well.
- Python Supports both +ve index & -ve index
    - +ve index means left to right (forward direction)-> Forward indexing
    - -ve index means left to right(backword diraction)-> Reverse indexing
- the first character of a string has the index 0.

In [16]:
#print first character
myString="Hari@krushna"
print(myString[0])

H

In [17]:
#Last char d[Len(d)-1] or d[-1]
print(myString[-3])

h

In [18]:
# print character using negative indexing
print(myString[-6])

r

In [19]:
# if we try to access index with out of the range, we will get index error

print(myString[15])

IndexError: string index out of range

In [ ]:
# if we try to accessby using use decimal number, we will get errors.
print(myString[1.2])

#  Slicing the strings
[start index(inclusive): end index(exclusive0: step]

Step can be either +ve or -ve & default value=+1

In [ ]:
myString[2:5]

In [ ]:
myString[0:3]

In [ ]:
myString[2:45]

In [ ]:
myString[4:0:-1]

In [ ]:
myString[:4]

In [ ]:
myString[2:]

In [20]:
myString[::2]

'Hr@rsn'

In [21]:
myString[:]

'Hari@krushna'

In [22]:
#print in reverse order
myString[::-1]

'anhsurk@iraH'

# String Concatenation
- Joining of two more strings into a single one is called concatation
- The + operator does this in python. Simple writing two string liteals together also concatation them.

In [23]:
"hello"+"World"

'helloWorld'

In [24]:
'Hello'+'World'

'HelloWorld'

- the * operator can be used to repeat the string for a given number of times.

In [25]:
"AI"*5

'AIAIAIAIAI'

In [26]:
"siva"+2

TypeError: can only concatenate str (not "int") to str

## Note: to use + operator for Strings, compulsory both should be string type only

In [ ]:
"Hari"+"krushna"

In [ ]:
user= " jagannath"
lines=100
print("Congratulationl, "+user+" ! You just wrote "+ str(lines)+" lines of code")

In [ ]:
print('Congatulation ',user,"! You just wrote",lines,"lines of code")


## String immutable

In [ ]:
myString="Hello"
myString[4]

In [ ]:
# Strings are immutable . this means tha elements oof a string cannot be changed once it has been assigned
#we can simply reasssign different string to the same name.
mystring="Harikrushna"
mystring[5]="h"

# String method

### strip()  -> remove the space from the string
- rstrip() -> remove space at left hand side 
- lstrip) -> renmove space at right hand side

- strip() -> reomve space form both side

In [ ]:
a=" Python "

In [27]:
a.strip()

NameError: name 'a' is not defined

In [ ]:
a.lstrip()

In [ ]:
a.rstrip()

In [ ]:
a="gOod morNinIng"

<b>capitalize</b> -> Capitalise only first letter  and remaining all to small ->  sentance case in MS.word

In [ ]:
a.capitalize()

<b>tittle</b>:-> Capatalize first letter of each word and emaining all to small

In [28]:
a.title()

NameError: name 'a' is not defined

<b>upper</b>-> convert complete string to upper case

In [ ]:
a.upper()

<b>lower</b>-> convert complete string to lower case

In [29]:
a.lower()

NameError: name 'a' is not defined

<b>find()</b>-> To find a string in the input string

In [ ]:
a.find('o')
# It returns the index position of the string if avialable
# it reeturns -1  if not avialable

<b>count()</b>-> To count how many times the string avialable in the main string

In [30]:
a.count('o')

NameError: name 'a' is not defined

<b>split</b>-> it split the string in he bases of space

In [ ]:
str=" my name is radhesyam"

In [ ]:
str.split()

<b> join 
</b>->

In [ ]:
a=["data","science"]
''.join(a)

<b>replace</b>->

In [31]:
# To replcae the old  string with newstring
s1= " Good Morning"
print(s1)
id(s1)

 Good Morning

2241471894256

In [32]:
s1=s1.replace("Good","Late")
print(s1)
id(s1)

 Late Morning

2241471161968

In [33]:
mystr='Nila khanta'
print(mystr.isdigit())       #test if string contains only numbers
print(mystr.isalnum())          #check if it is alphanumeric
print(mystr.isalpha())           #check if all char in the string are alphabetic
print(mystr.istitle())           #test if string contains titel words
print(mystr.isupper())          #test if string contains  upper case
print(mystr.islower())            #test if string containd lower case
print(mystr.isspace())           #test if string contains spaces
print(mystr.endswith('s'))         #test if string  enswith a s
print(mystr.startswith('s'))      #test if string start with s

False
False
False
False
False
False
False
False
False

# Input
- <b> want to take the input from the user. In Python, we have the input() function to allow this.
    
- <b> by default it takes as "str" datatype

In [ ]:
n=input()

In [ ]:
n

In [ ]:
type(n)

In [ ]:
n1=input('enter your age:')
n1

In [ ]:
type(n1)

In [ ]:
n2=int(input("enter your age:"))
n2

In [ ]:
type(n2)

In [ ]:
#Let's have one more example
name= input('What is your name? ')
print("It was nice talking you "+name +"!")

In [ ]:
age= input("Enter your age? ")
print('Hey, you are already '+age+"years old, "+ name+"!")

# List
  - <b>It is one of the most used datatype in Python and is very flexible.
<b>mpty List
    - To create an empty list, you can use empty square brackets or use the list() function with no arguments

In [ ]:
l=[]  ## EmptyList
l

In [ ]:
l=list() ##EmptyList
l

- <b> list is an order sequence of items.
-  <b>Each element or value that is inside of a list is called an item
- <b>Declaring a list is , Items seperated by commas are enclosed within brackets[ ].

In [ ]:
l1=[1,2,3,4]
l1

- <b>All the items in a list do not need to be of the same type (heterogenous).

In [ ]:
l1=[1,0.2,1+3j,True,'new']
l1


### Length of list

In [ ]:
list=[10,20.5,"Hellol"]
len(list)

### Nested list

In [ ]:
nest=[1,[3,5],6,5,8]
print(nest)

In [ ]:
len(nest)

### List indexing

In [ ]:
nest[0]

In [ ]:
nest[1]

In [ ]:
nest[2]

In [ ]:
nest[3]

In [ ]:
nest[1][0]

In [ ]:
nest[2][0]

In [ ]:
a=[1,3,[4,6,[8,"hello",6]],45,99]
a[3]

###  Lists are Muable
<b>Mutable:</b> value of elements of a list can be alterred in the same object

In [ ]:
a=[1,2,3]
print(a)
id(a)

In [ ]:
a[1]=20
print(a)

id(a)

<b> List slicing

In [ ]:
numbers=[10,20,30,40,50,60,70,80]
numbers[0:4]

<b> list conctentation

In [ ]:
l1=["dsad",'b','c']
l2=['a',6,4.0]
l3=l1+l2
print(l3)

# List Methods
<b>list.append()--></b> append is used to add elements in the list and it will add the item at the end

In [ ]:
list=[10,20,30,40,50,60]
list.append([99])
list

In [ ]:
lst=[10,20,30,40,50,60]
lst.append([8,9])
lst

<b>list.extend()-</b>it adds individually item at end

In [ ]:
list=[10,20,30,40,50,60]
list.extend([8,9])
list

In [ ]:
l=[1,2,3,4,5,6]
l.extend([1,[8,9],24,[9,90]])
l

<b>list.insert() -></b> insert in a specific order and list.insert(x,y) will add element y at location x

In [ ]:
lst=['one','two','four']
lst.insert(2,"three")
print(lst)

<b>list.remove() -></b> to remove an item based on value

numbers=[10,20,30,40,50]
numbers.remove(10)
numbers

<b>list.pop-> </b> to remove an item based on index number

In [ ]:
number=[1,35,3,6,8]
number.pop(3)
number

### del ->

In [ ]:
number=[1,2,3,5,8,6,9,7,4,89]
del number[0:5]
number

In [ ]:
number=[1,2,3,5,8,6,9,7,4,89]
del number[0::5]
number

<b>list.clear() -></b>  clear all elements in a list and returns empty list

In [ ]:
a=[1,2,3,4]
a.clear()
a.extend([5,6,7,8])
print(a)

<b>list.reverse()-></b> it reverse the entire list

In [ ]:
l=[1,4,53,2,5,7,[3,5]]
l.reverse()
l

<b>list.sort() -></b> it sorts either in ascendeing order or descending order

In [ ]:
lst=[1,23,46,4.3]
lst.sort()
lst          #ASCENDEING ORDER

In [ ]:
lst=[1,23,46,4.3]
lst.sort(reverse=True)
lst              #descending order

In [ ]:
l=['aef','b','c','d']
l.sort()
l

In [ ]:
lst=[1,20,'b',5,'a']
print(lst.sort())

<b>Note:</b> Sort is applicable for either only alphabet or only numeric valus only

In [ ]:
lst=[1,23,4,2.3]
sorted(lst)

In [ ]:
lst

<b>list.count() -></b> frequent of value in a list

In [ ]:
number=[1,23,4,56,7,43,44,52,32,23]
print(number.count(1))

- <b>Swallow copy:</b>
whatever changes are made in the copied object, its going to reflect in the original and viceversa

In [ ]:
#Swallow copy
l1=[1,2,3]
l2=l1
l2.append(4)
print(l1)
print(l2)

- <b>Deep Copy/carbon copy:</b>
    whatever changes are made in the copied object, its not going to reflect in the original

<b>list.copy()</b>

In [ ]:
#Deep Copy/carbon copy
l1=[1,2,3]
l2=l1.copy()
l2.append(4)
print(l1)
print(l2)

# Tuples
1. Tuple is similar to List except tuple are immutable which means we cannot change the elements of a tuplel           once assigned.
2. When we do not want to change the data over time,tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compered to iteating over a list.

<b>Empty tuple</b>

In [ ]:
tup1=()
tup1

In [ ]:
type(tup1)

In [ ]:
tup2=tuple()
tup2

- Tuple is heterogenous

In [ ]:
t=(1,0.3,1+3j,True,'new',[1,4])
t

<b>Nested tuple</b>

In [ ]:
tup=('siva',25,25.0,1+2j,True,[50,100],(99,22,33))
tup

<b>Tuple indexing</b>

In [ ]:
tup[0]

In [ ]:
tup[-1][2]

<b>Tuple Slicing</b>

In [ ]:
tup[0:3]

<b>Tuples are immutable</b>

In [ ]:
mytuple=(2,4,3,7,0)
mytuple[0]

In [ ]:
del mytuple[0]

In [ ]:
mytuple[0]=10

In [ ]:
del mytuple    # delete entire tuple objectis possible

# <b>INTERVIEW QUESTION</b>

In [ ]:
tup=(1,2,3,[4,5],(10,11,12))

In [ ]:
tup[3][0]

In [ ]:
tup

In [ ]:
tup[3]=50
tup

# <b>Tuple Methods</b>

In [ ]:
mytuple1=('one','two','three','four','five','two','three','four','two')

<b>tuple.count()</b>-> Number of times item occured in the tuple.

In [ ]:
mytuple1.count('two') # Number of times item "two"occuredin the tuple

<b>tuple.index()</b>

In [ ]:
mytuple1.index("two")

+ <b>sorting</b>

In [ ]:
mytuple=(43,58,45,7,89,6,9,56)
tuple(sorted(mytuple))

In [ ]:
mytuple

# Sets
- set can be useds to perform mathematical set operations like union, intersection, symmetric different etc.

<b>emptyset</b>

In [ ]:
set_var=set()
print(set_var)
type(set_var)

- A set is an unordered collection of items.
- Set is defined by values seperated by comma inside brace{}.

In [ ]:
a={10,30,20,40,5,'a'}
print(a)

- Every element is unique (no duplicate).

In [ ]:
s={10,4,25,62,25,25,5}
print(s)

###  Set does'not support indexing, because it's unorder collection of item

In [ ]:
print(s[1])

- <b> creating Set by using a list</b>

In [ ]:
l=[1,2,34,5,6,5,67,8,89]
s=set(l)
print(s)

- <b> creatiing Set by using tuples</b>

In [ ]:
t=('a','b','c')
tup_set=set(t)
tup_set

# Set Methods

In [ ]:
c=set()
c

<b>set.add()</b>-->we can add single element

In [ ]:
c.add(3)
c

<b>set.update()</b>--> add multiple element

In [ ]:
s={3,4}
s.update([5,6,8])
print(s)

<b>set.copy()</b>--> copy complete set

In [ ]:
c={3,5,4}
d=c.copy()
d.add(6)
print(d)
print(c)

<b>set.discard()</b>-->remove the particular value if it is aviable

In [ ]:
s={1,2,3,4,5,8}
print(s)

In [ ]:
s.discard(4)
print(s)

In [ ]:
s.discard(7)
s

<b>set.remove()</b>-->  remove the particular value if it is available, else print error

In [ ]:
s.remove(10)
s

<b>set.clear()</b>-->  it deletes all items in set

In [ ]:
s={1,3,4,5,6,8,9}
s.clear()
print(s)

In [ ]:
s={1,5,2,3,6}
del s
print(s)

# SetOperations

In [ ]:
set1={1,2,3,4,6}
set2={3,5,6,7,9}

- <b>Union</b>

In [ ]:
set1.union(set2)

- intersection

In [ ]:
set1.intersection(set2)

- difference: set of elements that are only in set1 but not in set2

In [ ]:
set1-set2

In [ ]:
set2-set1

- systemetric_difference()-->(A union B)-(A intersectio B)

In [ ]:
set1.symmetric_difference(set2)

- issubset()

In [ ]:
c={3,4,5}
d={3,4,5,6}

In [ ]:
c.issubset(d)

In [ ]:
d.issubset(c)

- issuperset()

In [ ]:
d.issuperset(c)

# Dictionaries

- Dictionary is an unordered collection.

<b>empty dictionary</b>

In [ ]:
d={}
print(d)
type(d)

In [ ]:
d=dict()
print(d)
type(d)

- In Pyrthon, dictionaries are defined within braces {} with each item being key:value
- <b>keys can be of fundamental data type -</b> Generally, the keys are int or str
- <b>values can be of any data type</b>

In [ ]:
dict={1:456,10.4:[3,9,15],'key3':(94,8,23),'key4':{'item1','item3','item4'}}
dict

<b>Nested Dictionary</b>

- If atleast none value is dict, then it is called as nested dictionary

In [ ]:
car_type={'car1':1989,'car2':123,'car3':{1:3}}
print(car_type)

In [ ]:
car_type["car2"][1]

In [ ]:
car_type["car3"][1]

In [ ]:
marks={'history':45,'Geography':54,'Hindi':56}
marks

In [ ]:
#total no. of items
marks.keys()

In [ ]:
# item
marks.items()

In [ ]:
# keys
marks.keys()

In [ ]:
# values
marks.values()

<b>Dictionary has indexing</b>
- dict_name[key]

In [ ]:
marks['history']

<b>dictionaries are muteable</b>

<b>add a single item into a dictionary</b>

In [ ]:
marks['english']=47
marks

<b>add a mutable items into a dictionary</b>

In [ ]:
marks.update({'Chemistry':89,'Physics':98})
marks

<b>replace value in dictionary</b>

In [ ]:
marks['Hindi']=64
marks

<b>replace key in dectionary</b>

In [ ]:
marks['Maths']=marks.pop('Hindi')
marks

<b>delete item in dictionary</b>

In [ ]:
del marks['english']

In [ ]:
marks

# Range()

We can generate a sequence of numbers using range() function. range(10) will generate numbers from 0 to 9(numbers).

We can also define the start, stop and step size as range(start,stop,step size). step size defaults to 1 if not provided

This function does not store all the values n memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.

To force this function to output all the items, we can use the function list().

The following example will clarify this.

We can use the range() function in for loops to iterate through a sequence of numbers. if can be combined with the len() function to iterate through a sequence using indexing. Here is an example.

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
tuple(range(10))

In [ ]:
list(range(8,11))

In [ ]:
list(range(0,11,2))

In [ ]:
list(range(8,0,-1))

#  Operators:

- Opertators are special symbols in Python that carry out arithmetic or logical computation.

# Operator Types

1.Arithmatic operators <br>
2.Assignment operators  <br>
3.Comparison (Relational) operators <br>
4.Logical (Boolean) operators <br>
5.Membership Operators <br>
6.Identity Operators<br>

# Arthmetic Operators

- Arithmetic operators are used to perform mathematical operations like addition, subtraction,multiplication etc .
- *,-,/,%,//,* are arthmetic operators

In [ ]:
# Addition
3+5

In [ ]:
#substration

In [ ]:
54-46

In [ ]:
# Multiplication
2*3

In [ ]:
#Division
8/2

- Division ->always gives output as float

In [ ]:
# floor division --> Quotient
16//5

In [ ]:
# modulo --> remainder
16%5

In [ ]:
# power/exponent
10**2

In [ ]:
# parantasis
(2+3)*(5+5)

<th><b> Arthimetic operators precedence</b></th>

- Paracentheis
- exponents
- floor division
- Division or Multiplication
- Modulus
- Addition or Subtraction

In [ ]:
5*45/5-5

<b>When we use arthemetic operator, the boolean values will be automaticaLLY CONVERTED TO INT</b>

In [ ]:
True+True

In [ ]:
b=3.9
c=False
b+c

In [ ]:
b=3.9
c=False
b/c

# Assignment operators
- Assignment operators are used in python to assign values to variables.
- (=,+=,-=,,/=,%=,//=,*=) are Assignment operators.
- First right side part will be executed and then assign to the left side variable

In [ ]:
# = is a simple assignment operator that assign the value on the right to the 
a=10
a

In [ ]:
id(a)

In [ ]:
a=a+1
print(a)

In [ ]:
id(a)

In [ ]:
a-=4  # a=a-4
a

In [ ]:
#Multiply AND (*=)
#Divid AND (/=)
#Modules AND (%=)
# Floor Division (//=)
# Exponenr AND (**=)

# Comparison/Relational Operators
- Comparison operators are used to comparae values. It either returns True or False acording to the condition.\

<tb><tr>,<,==,!=,>=,<= are comparision operators</tr></tb>

In [ ]:
# is greater than
45>34

In [ ]:
# is Less than
56<23

In [ ]:
3*3<4*2

In [ ]:
# is equal to
45==45

In [ ]:
# is not equal
3!=5

In [ ]:
# greaterthan or equalto
1 >=1

In [ ]:
45==45.0

In [ ]:
'hi'=='HI'

# Logical Operators

- it returns bool type only
- Logical operators are and, or, not operators.
- when we have, "or" operator.... atleast i condition should be True then only overall output will be True
- when we have, 'and' operator... all conditions should be True then only overall output will be True

In [ ]:
(1<2)or(2<3)

In [ ]:
(1>2)and(2<3)

In [ ]:
not True

In [ ]:
not False

In [ ]:
my_str="Siva"
my_str.isalpha() or my_str.isalnum()
#isalphabets or is alphanumeric

<b> Logical operators Precedence</b>

- Logical NOT
- Logical AND
- Logical OR

In [ ]:
(2==2)or(3==3)and(3==4)
#--> " loogical and " followed by "logiacl OR"

# identity operators

is and is not are the identity operators in python.
They are used to check if two values(or variable) are indicating to same object or not
 - is operator(# is-True if the operands are identical)
 - is not operator(# is not -True if the operands are not identical)

In [ ]:
a= 5
b=5
print(a is b)
# 5 is object created once both a and b points to same objef

In [ ]:
s1="satish"
s2="satish"
print( a is b)

In [ ]:
a=6
b=8
a is not b

# Membership operators

<b>in and not in</b> are the membership operators i n Python.

They are used to test wheather a value or variable is found in a sequence(string, list, tuple, set and dictionary).

In [ ]:
a="venkatesh"
"eh" in a

In [ ]:
Lst=[1,2,3,4,5,6]
2 in Lst  # check 1 is present in a given list or not

<b> only arthimetic operators, return with value 
remaining all operatoers, return boolean value</b>

#  Operators precedence:

- Arthimetic operators
- Comparision operators
- membership operators
- identity operators
- Logical operators
- Assignment operators

In [ ]:
b=(1>2) or (3>=3)
b

<b>#  Conditional statements (Control flow statements) in Python

<b>

- if
- if-else
- if-elif
- if-elif-else
- nested if   </b>

# Block Structure

- The code taht is executed when a specific condition is met is defined in a "block".
- Statements preceding blocks generally end with a colon (:)
- In Python, the blocks structure is signalled by  changes in indentation.
- Each line  of code in a certain block level must be indented equally and indented more than the surrounding scope.
- The standerd is to use 4 spaces for each level of block indentation.

# IF:

- if statement syntax
  * if test_expression/condition:
        statement(s)

The program evaluates the test expression and will execute statement(s) only if the text expression is True.

If the text expression is false, the statement(s) is not executed.

In [ ]:
if(1<2):
    print("Hi!")
    print("welcome")

In [ ]:
if(1>2):
    print("hi!")

In [ ]:
if (1>2):
    print('hi')
    print('Ramakrishna')

# If-else Syntax:

<b>
if test expression:<br>
      Body of if  <br>
else:   <br>
    Body of else   <br></b>

In [ ]:
if 1>2:
    print('first')

else :
    print('Last')

In [ ]:
# Take a variable x and print "even if the number is divisible by , otherwise print "odd"
x=int(input("enter a number "))
if(x%2==0):
    print(x," is even ")
else:
    print(x," is odd")

In [ ]:
a,b,c,d=2,3,4,5
if(a==b or c==d ):
    print("abc")
else:
    print("def")

# if-elif-else Syntax:

if test expression:

    Body of if

elif test expression:

    Body elif

else:

    body of else

In [ ]:
if 2!=2:
    print("first")
elif(3==3):
    print("middle")

In [ ]:
if 1==1:
    print("How did that happen !")
elif 1<3:
    print("Yieks")
else:
    print("All is well in the world")

### Take a variable y and  print "Grade A" if y is greater then 90 ,"Gread B" if y is graeater than 60 but less then or equal to 60 "Gread F"

In [ ]:
y=int(input("enter the value of Y "))
if y>90:
    print("Gread A")
elif y>=60:
    print("Gread B")
else:
    print("Gread F")

###  Write a program to find largest of given 2 Numbers from  the input consol ?

In [ ]:
y=int(input("Enter the first number "))
x=int(input('enter the Scond number'))
if x>y:
    print(" the largest number is ",x)
elif(x==y):
    print("both are same")
else :

    print("largest number is ",y)ds

###  Write a programe to find largest of given 3 Numbers from the input consol?

In [ ]:
n1=int(input("Enter first number "))
n2=int(input("Enter second number "))
n3=int(input("Enter third number "))

if n1==n2 and n2==n3 :
    print("ALL Number are same ")
elif n1>n2 and n1>n3 :
    print("the first number is Largest",n1)
elif  n2>n3 :
    print("The second number is the largest number",n2)
else :
    print("the third number is the largest number ",n3)

## Nested if Statements

We can have a if...elif...else statement inside another if..elif...else Statement. This is called nesting in computer programing.

In [ ]:
num =-20

if num>=0:

    if num >=0:
        print("zero")
    else:
        print("Positive Number")
else:
    print("Negative number")

In [ ]:
# next program on bank transition using conditional statements
amount=20000
pin=1234

if(int(input("enter your pin"))==pin):
    with_draw=int(input('with draw amount: '))
    if (with_draw<=amount):
        print(with_draw,'Successfully transaction complted')
    else:
        print(with_draw,'not sufficiant funds in your account')
else:
    print("invaild pin number")

# Loops

In [ ]:
i=1
j=i+5
k=j+10
print(i,j,k)

i=2
j=i+5
k=j+10
print(i,j,k)

i=3
j=i+5
k=j+10
print(i,j,k)

## Loops
- There may be a situation when you need to execute a block of code several numbers of times.
- to itrate over items or elements in agiven seq like str,list, tuf, set or dict
- In general , statements are executed sequentially: The first statement in a function is executed first, followed by the second, and so on.

### <b>Itration or loops -repeate actions
- for loop --> iterate for all items present in iterating_sequence:
- while loop --> until the condition satisfies

# For loop
- The for loop in Python is used to itrate over a sequence(list, tuple, string) or other iterable objects.
- Loop continues until we reach the last item in the sequence.
- The body of for loop is seperated from the rest of the code using indentation
### Syntax:
     for element in sequence :
        Body of for

Here, element is the variable that takes the value of the item inside the sequence on each iteration.

Loop continues until all items completed in the sequence.

In [ ]:
for i in range(1,4):
    j=i+1
    k=j+10
    print(i,j,k)

In [ ]:
for i in range(1,4):
    j=i+5
    k=j+10
    print(i,j,k)
print("srk")

In [ ]:
for i in range(1,4):
    j=i+5
    k=j+10
print(i,j,k)

### print all the numbers between 10 and 50 (both inclusive)

In [ ]:
for i in range(10,51):
    print(i,end=" ")

### print even number in decending order from 1 to 100

In [ ]:
for i in range(100,1,-2):
    print(i,end=" ")

### Write a python code to get all the even numbers for a given range bothe are inclusive

In [ ]:
lb=int(input('enter the lower bound value: '))
ub=int(input('enter the upper bound value: '))
for i in range(lb,ub+1):
    if i%2==0:
        print(i,end=" ")

### Write a program that give number between 1 to 100 which are divisible by 5 and divisible by 7

In [ ]:
for num in range(1,101):
    if num%5==0 and num%7==0:
        print(num,end=" ")

In [ ]:
seq=[1,2,3,4,5,]
#iterating over the list
for i in seq:
    print(i)

In [ ]:
seq=[1,2,3,4,5,67,78,0]

for item in seq:
    print(item)

In [ ]:
seq=[11,2,3,4,5,56,0]

for item in seq:
    print("hello")

In [ ]:
items=['item1','item2','item3','item4']

for i in range(len(items)):
    print(items[i],"index ",i)


#### sum of given list

In [ ]:
l=[1,2,3,5,8]
sum=0 #initiallization
for i in l:
    sum=sum+i
print(sum)

#### sum of even number in between given range(both inclusive)

In [ ]:
lb=int(input('Enter the lower bound value: '))
ub=int(input('Enter the upper bound value: '))
sum=0

for i in range(lb,ub):
    if i%2==0:
        sum=sum+i
        print(i,end=" ")
print("\n sum is",sum)

### program to print multiple mathematical  tables

In [ ]:
a=int(input('enter multiplication table'))
for i in range(1,11):
    print(a,'*',i,'=',a*i)

### Write a program which can compute the factorial of give numbers.

In [ ]:
a=int(input())

fact=1

for i in range(a,0,-1):
    fact=fact*i
print('factorial of',a,'is',fact)

## Nested for loop

In [ ]:
for i in range(3):
    for j in range(2):
        print('i=',i,'j=',j)

In [ ]:
for i in range(2):
    for j in range(2):
        print("ds")

# Loops Termination

## Break

In [ ]:
numbers=[1,2,3,43]

for i in numbers:
    if i==3:
        break
print(i)

## Continue

In [ ]:
number=[1,2,343,55,556]

for num in number:
        if num%2==0:
            print(num)
            continue

### for loop with else

a for loop can have an optinal else block as well.The else part is executed if the items in the sequence used in  for loop exhaust.

break statement can be used to stop a for loop, In such case, the else part is ignored.

Hence, a for loop's else part runs if no break occurs

In [ ]:
number=[1,2,3,4]

for item in number:
    print(item)
    if item==5:
        break
else: 

    print('no item left in the list')

In [ ]:
Numbers= [1,2,3,4]
for item in numbers:
    print(item)
    if item==4:
        break
else:
    print('no item left in the list')